:root {
  --color-lime: hsl(61, 70%, 52%);
  --color-red: hsl(4, 69%, 50%);
  --color-white: hsl(0, 0%, 100%);
  --color-slate-100: hsl(202, 86%, 94%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-50: hsl(203, 41%, 97%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-900: hsl(202, 55%, 16%);

  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 500;

  background-color: var(--color-slate-100);
  color: var(--color-slate-900);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

@media (max-width: 680px) {
  body {
    padding: 0;
    align-items: flex-start;
  }
}

#root {
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}